<div class="row mt-3 pb-2">
  <div class="col-md-12 mt-3 pb-2">
    <h2>{{actionType}} Company</h2>
    <form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
      <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger ml-3" *ngIf="name.invalid && formDir.submitted">
          Name is required.
        </span>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-12">Tax Number</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="taxNumber">
        </div>
        <span class="text-danger ml-3" *ngIf="taxNumber.invalid && formDir.submitted">
          Tax Number is required.
        </span>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-12">Address</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="address">
        </div>
        <span class="text-danger ml-3" *ngIf="address.invalid && formDir.submitted">
          Address is required.
        </span>
      </div>
      
      <div class="form-group row">
        <label class="control-label col-md-12">City</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="city">
        </div>
        <span class="text-danger ml-3" *ngIf="city.invalid && formDir.submitted">
          City is required.
        </span>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-12">Zip Code</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="zipCode">
        </div>
        <span class="text-danger ml-3" *ngIf="zipCode.invalid && formDir.submitted">
          Zip Code is required.
        </span>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-12">State</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="state">
        </div>
        <span class="text-danger ml-3" *ngIf="state.invalid && formDir.submitted">
          State is required.
        </span>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-12">Country</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="country">
        </div>
        <span class="text-danger ml-3" *ngIf="country.invalid && formDir.submitted">
          Country is required.
        </span>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<br>