<div class="container-fluid">
  <div class="row">
    <h2 class="col-sm-12 mt-4 mb-4">Company</h2>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <h4>Add Company</h4>
    </div>
    <div class="col-sm-8 text-right">
      <ks-button
        [type]="'button'"
        [class]="'btn btn-gray'"
        [value]="'Back'"
        (click)="goBack()"
      ></ks-button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="row">
          <div class="col-sm-4 company__item">
            <label class="control-label">Name</label>
            <ks-input [formControl]="name" [type]="'text'" [name]="'name'" [id]="'name'"></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.name"
              >Name is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">Tax Number</label>
            <ks-input
              [formControl]="taxNumber"
              [type]="'text'"
              [name]="'taxNumber'"
              [id]="'taxNumber'"
            ></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.taxNumber"
              >Tax Number is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">Address</label>
            <ks-input
              [formControl]="address"
              [type]="'text'"
              [name]="'address'"
              [id]="'address'"
            ></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.address"
              >Address is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">City</label>
            <ks-input [formControl]="city" [type]="'text'" [name]="'city'" [id]="'city'"></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.city"
              >City is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">Zip Code</label>
            <ks-input
              [formControl]="zipCode"
              [type]="'text'"
              [name]="'zipCode'"
              [id]="'zipCode'"
            ></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.zipCode"
              >Zip Code is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">State</label>
            <ks-input
              [formControl]="state"
              [type]="'text'"
              [name]="'state'"
              [id]="'state'"
            ></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.state">
              State is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">Country</label>
            <ks-input
              [formControl]="country"
              [type]="'text'"
              [name]="'country'"
              [id]="'country'"
            ></ks-input>
            <span class="text-danger" *ngIf="isSubmited && !form.value.country">
              Country is required.
            </span>
          </div>
        </div>
        <div class="form-group form-group text-right mt-5 mb-5">
          <button type="submit" class="btn btn-success">Save</button>
          <button class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
