<div class="container-fluid">
  <div class="row">
    <h2 class="col-sm-12 mt-4 mb-4">Banks</h2>
  </div>

  <div class="row mb-5">
    <div class="col-sm-4">
      <form #search [formGroup]="formGroup" (ngSubmit)="onSearch()">
        <ks-input
          [type]="'text'"
          [name]="'searchTerm'"
          [id]="'searchTerm'"
          [placeholder]="'Search banks'"
          class="banks__search__input"
        ></ks-input>
        <button type="submit" class="search__btn">
          <svg-icon key="magnifying" size="sm" color="#fff"></svg-icon>
        </button>
      </form>
    </div>
    <div class="col-sm-8 text-right">
      <ks-button
        [type]="'button'"
        [name]="'addBank'"
        [class]="'btn btn-secondary-green'"
        [value]="'+ Add bank'"
        (click)="addBank()"
      >
      </ks-button>
    </div>
  </div>
  <div class="row">
    <div [hidden]="loading" class="col-lg-12 banks__table">
      <ks-table
        [items]="items"
        [tableHeadItems]="tableHeadItems"
        [isBank]="true"
        [hasEdit]="true"
        [hasDelete]="true"
        (editItem)="editBank($event)"
        (deleteItem)="deleteBank($event)"
      ></ks-table>
      <p class="text-right">
        Total results <strong>{{ total }}</strong>
      </p>
    </div>
  </div>
</div>
