@import './variables';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fff;
  margin: 0;
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 50px;
  }
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

th {
  font-weight: bold;
}

.main {
  min-height: 100vh;
}

.popover {
  $border-width: 5px;

  border-radius: 0;

  &.top-right {
    left: auto !important;
    top: auto !important;
    right: -($border-width);
    bottom: 100%;
    margin-bottom: 10px;
    min-width: 170px;
    border-radius: 0;

    > .arrow {
      border-width: 16px;
      right: -($border-width) !important;
      border-bottom: 0;

      &:after {
        border-width: 8px !important;
        bottom: 0;
        margin-left: -9px;
      }
    }
  }

  &.bottom {
    > .arrow {
      margin-top: -($border-width);
      border-width: 16px;
      top: -27px !important;

      &:after {
        border-width: 10px !important;
        top: -4px !important;
      }
    }
  }
}
