@import './variables';

main {
  min-height: calc(100vh - 100px);
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: #fff;
  margin: 0;
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 50px;
  }
}

html {
  overflow-x: hidden;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

th {
  font-weight: bold;
}

.main {
  min-height: 100vh;
  padding-left: 260px;
  transition: all 0.5s;
  &.main-sidebar-closed {
    padding-left: 100px;
  }
}

.table__actions {
  & svg-icon {
    cursor: pointer;
    &:hover {
      fill: $primary-color;
    }
  }
}

.search__btn {
  position: absolute;
  background-color: $primary-color;
  border: none;
  right: 15px;
  top: 0;
  width: 2.6em;
  height: 2.4em;
  border-radius: 0 0.25rem 0.25rem 0;
  & .svg-icon-magnifying {
    vertical-align: sub;
  }
  &:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 8%);
  }
}

// Remove arrows from input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

// Large modal
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
  }
}
