// Colors
$primary-color: #025982;
$secondary-color: #45a49e;
$secondary-green: #7ba80e;
$warning: #fff3cd;
$danger: #f8d7da;
$success: #d4edda;
$info: #d1ecf1;
$white: #fff;
$black: #000;
$gray: #595959;
$gray1: #212529;

// Screen values
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1400px;
