// Colors
$primary-color: #025982;
$secondary-color: #45a49e;
$white: #fff;
$black: #000;
$gray: #595959;

// Screen values
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1400px;
