<div class="container-fluid login__container">
  <div class="row">
    <div class="col-sm-12">
      <div class="login__holder">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="login__logo">
            <img src="../../../assets/images/m-logo.png" alt="Mean logo" />
          </div>
          <div class="form-group login__input mt-5">
            <svg-icon key="avatar" color="#45a49e" size="md"></svg-icon>
            <ks-input
              [type]="'text'"
              [name]="'username'"
              [id]="'username'"
              [placeholder]="'Username'"
            ></ks-input>
          </div>
          <div class="form-group login__input">
            <svg-icon key="password" color="#45a49e" size="md"></svg-icon>
            <ks-input
              [type]="'password'"
              [name]="'password'"
              [id]="'password'"
              [placeholder]="'Password'"
            ></ks-input>
          </div>
          <div class="form-group">
            <input id="login__checkbox" name="remember-me" type="checkbox" />
            <label for="remember-me" class="login__remember-me">Remember me</label>
            <ks-button
              [type]="'submit'"
              [name]="'submit'"
              [class]="'login__btn btn btn-outline-light'"
              [value]="'Login'"
            >
            </ks-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
