<div class="container-fluid">
  <div class="row">
    <h2 class="col-sm-12 mt-4 mb-4">Companies</h2>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <form #search [formGroup]="formGroup" (ngSubmit)="onSearch()">
        <ks-input
          [type]="'text'"
          [name]="'searchTerm'"
          [id]="'searchTerm'"
          [placeholder]="'Search companies'"
          class="companies__search__input"
        ></ks-input>
        <button type="submit" class="search__btn">
          <svg-icon key="magnifying" size="sm" color="#fff"></svg-icon>
        </button>
      </form>
    </div>
    <div class="col-sm-8 text-right">
      <ks-button
        [type]="'button'"
        [name]="'addCompany'"
        [class]="'btn btn-secondary-green'"
        [value]="'+ Add Company'"
      >
      </ks-button>
    </div>
  </div>
  <div class="row">
    <div [hidden]="loading" class="col-lg-12 companies__table">
      <ks-table
        [items]="items"
        [tableHeadItems]="tableHeadItems"
        (companyAccounts)="companyAccounts($event)"
        (editCompany)="editCompany($event)"
        (deleteCompany)="deleteCompany($event)"
      ></ks-table>
      <p class="text-right">
        Total results <strong>{{ total }}</strong>
      </p>
    </div>
  </div>
  <ng-container>
    <div [hidden]="!loading" class="jumbotron" *ngIf="total == 0">
      <div class="container">
        <p class="text-center">Loading...</p>
      </div>
    </div>
  </ng-container>
  <ks-alerts
    *ngIf="!total && !loading"
    [content]="'No results found.'"
    [role]="AlertsEnum.warning"
  ></ks-alerts>
</div>
