<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <ng-container *ngFor="let items of tableHeadItems">
        <th scope="col">{{ items }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isBank; else companyTemp">
      <tr *ngFor="let bank of items">
        <td>{{ bank._id }}</td>
        <td>{{ bank.name }}</td>
        <td>{{ bank.swiftCode }}</td>
        <td>
          <svg-icon
            key="pencil"
            color="#45a49e"
            size="md"
            tooltip="Edit"
            (click)="editBank.emit(bank._id)"
          ></svg-icon>
          <svg-icon
            key="delete"
            color="#45a49e"
            size="md"
            tooltip="Delete"
            (click)="deleteBank.emit(bank._id)"
          ></svg-icon>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #companyTemp>
  <tr *ngFor="let company of items">
    <th scope="row">{{ company._id }}</th>
    <td>{{ company.name }}</td>
    <td>{{ company.taxNumber }}</td>
    <td>{{ company.address }}</td>
    <td>{{ company.city }}</td>
    <td>{{ company.zipCode }}</td>
    <td>{{ company.state }}</td>
    <td>{{ company.country }}</td>
    <td>{{ company.created | date: 'dd MMM yyyy' }}</td>
    <td class="table__actions">
      <svg-icon
        key="pencil"
        color="#45a49e"
        size="md"
        tooltip="Edit"
        (click)="editCompany.emit(company._id)"
      ></svg-icon>
      <svg-icon
        key="accounts"
        color="#45a49e"
        size="md"
        tooltip="Accounts"
        (click)="companyAccounts.emit(company._id)"
      ></svg-icon>
      <svg-icon
        key="delete"
        color="#45a49e"
        size="md"
        tooltip="Delete"
        (click)="deleteCompany.emit(company._id)"
      ></svg-icon>
    </td>
  </tr>
</ng-template>
