.navbar {
  justify-content: flex-end;
  background-color: darken($primary-color, 5%);
  height: 60px;
  &__user {
    color: $white;
    vertical-align: middle;
  }
  &__icon {
    vertical-align: middle;
  }
  &__items {
    padding: 2px 20px;
    border: 1px solid $white;
    border-radius: 30px;
    &:hover {
      background-color: $primary-color;
    }
  }
}
