<div class="container-fluid">
  <div class="row">
    <h2 class="col-sm-12 mt-4 mb-4">Company Account</h2>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <h4>Accounts</h4>
    </div>
    <div class="col-sm-8 text-right">
      <ks-button
        [type]="'button'"
        [class]="'btn btn-gray'"
        [value]="'Back'"
        [routerLink]="['/companies']"
      ></ks-button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ks-table
        [items]="accounts"
        [tableHeadItems]="tableHeadItems"
        [isBank]="true"
        [hasDelete]="true"
        (deleteItem)="deleteAction($event)"
      ></ks-table>
      <p class="text-right" *ngIf="total">
        Total results <strong>{{ total }}</strong>
      </p>
    </div>
  </div>
  <ks-alerts *ngIf="!total" [content]="'No results found.'" [role]="AlertsEnum.warning"></ks-alerts>

  <div class="row">
    <div class="col-sm-12 text-right mb-5">
      <ks-button
        [type]="'button'"
        [class]="'btn btn-secondary-green ml-2'"
        [value]="'+ Add Account'"
        (click)="openModal(modalContent)"
      ></ks-button>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <company-accounts-modal
    (account)="addAccount($event)"
    (closeModal)="closeModal()"
  ></company-accounts-modal>
</ng-template>

<ng-template #modal>
  <ks-modal
    [modalTitle]="modalTitle"
    [modalBody]="modalBody"
    [declineMsg]="'Cancel'"
    [confirmMsg]="'Delete'"
    (confirm)="deleteAccount()"
    (decline)="closeModal()"
  ></ks-modal>
</ng-template>
