<div class="container-fluid">
  <div class="row">
    <h2 class="col-sm-12 mt-4 mb-4">Bank</h2>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <h4>{{ actionType === 'Add' ? 'Add Bank' : 'Edit Bank' }}</h4>
    </div>
    <div class="col-sm-8 text-right">
      <ms-button
        [type]="'button'"
        [class]="'btn btn-gray'"
        [value]="'Back'"
        [routerLink]="['/banks']"
      ></ms-button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="row">
          <div class="col-sm-4 company__item">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" [formControl]="form.get('name')" />
            <span class="text-danger" *ngIf="isSubmited && !form.value.name">
              Name is required.
            </span>
          </div>
          <div class="col-sm-4 company__item">
            <label class="control-label">Swift Code</label>
            <input class="form-control" type="text" [formControl]="form.get('swiftCode')" />
            <span class="text-danger" *ngIf="isSubmited && !form.value.swiftCode">
              Swift Code is required.
            </span>
          </div>
        </div>
        <div class="text-right mb-5">
          <ms-button
            [type]="'button'"
            [class]="'btn btn-gray'"
            [value]="'Cancel'"
            [routerLink]="['/banks']"
          ></ms-button>
          <ms-button
            [type]="'submit'"
            [class]="'btn btn-success ml-2'"
            [value]="'Save'"
          ></ms-button>
        </div>
      </form>
    </div>
  </div>
</div>
